/*navbar background*/
.header{
    width: 100%;
    
    background-image: linear-gradient(to right,#de6262 , #ffb88c
);}
*{margin: 0;padding: 0;
  box-sizing: border-box;}
  
.header .navbar-brand{
    color: white!important;
}
.header .nav-link{
    color: white!important;
}
.header .nav-link:hover{
    color: rgba(255,0,212)!important;
}
/*navbar-item*/
.header .nav-item{
    margin-left: 15px;
    margin-right: 15px;
}

  
/*dropdown menu*/
.navbar-nav li:hover>ul.dropdown-menu {
    display: block;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0%;
    left: 100%;
    margin-top: -10px;
}

.dropdown-menu>li>a:hover:after {
    transform: rotate(-90deg);
    transition: 0.5s;
}



  
