.menu{
    
    background-color:  rgb(238, 238, 238);
}
.menu .container{
    margin: auto;
    max-width: 1000px;
    height: 100%;
    
    padding: 10px;
    background-color:#fff;
}
.menu .breadcrumb{
    margin-top: 10px;
    padding-left: 10px;
}
.menu .breadcrumb ol a{
    text-decoration: none;
    color: black;  
}
.breadcrumb ol a:hover{
    color: rgb(51, 131, 196);
}


/*go top btn*/
html{
    scroll-behavior: smooth;
}
.gotopbtn{
    position: fixed;
    width: 50px;
    height: 50px;
    background: #27ae60;
    bottom: 40px;
    right: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: white;
    font-size: 22px;
}
.lower .content .part2 .box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}
.lower .content .part2 .box img{
    width: 100%;
    
}
.menu .lower .content img{
    
    display: block;
    margin-left: auto;
    margin-right: auto;
}